/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
} */

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#logo-1 {
  font-family: cursive;
  font-size: 30px;
  color: red;
}

#logo-2 {
  font-family: cursive;
  font-size: 18px;
  color: red;
}

#logo-3 {
  font-family: cursive;
  font-size: 45px;
  color: red;
}

.jumbotron {
  
  /* background-image: url('../img/Picture2.png');
  height: 100%;
  width: 100%;
  background-size: cover; */
  /* background: none;  */
  
  }
  
  .jumbotron .container {
  position: relative;
  top:100px;
  }

  #main-contain {
    background: rgba(255, 255, 255, 0.85);
    padding:5px; 
    border-radius: 10px;
   
  }

  .display-4 {
    font-size: 50px;
    color: red;
    /* margin-left: 500px; */
  }

  .lead {
    margin-top: 50px;
  }

  .submit-to-menu {
    margin-left: 15px;
  }

  .card {
    margin-bottom: 15px;
  }

  .card-title {
    color: red;
  }

  .suggestedOne {
    margin-top: 50%;
  }

  .add-burger {
    height: 40px;
    margin-top: -17px;
  }

.menu-card {
  margin-top: 100px;
}

.menu-title {
  text-align: center;
}
  

.intro-text {
  font-size: 10px;
  color: darkblue;
  text-align: center;
}

.menu-card {
  border: 2px solid black;
  /* background-color: peachpuff; */
  background: linear-gradient(217deg, rgba(203, 130, 5, 0.858), rgba(228, 193, 52, 0.762) 70.71%),
            linear-gradient(127deg, rgba(222, 171, 3, 0.673), rgba(159, 146, 47, 0.81) 70.71%),
            linear-gradient(336deg, rgba(255, 162, 0, 0.557), rgba(106, 66, 7, 0.845) 70.71%);

}

.list-head {
  margin-bottom: 10px;
}

.menu-text {
  font-family: cursive;
  font-weight: 900;
  font-size: 28px;
}
